@use "./variables";

.header {
	background-color: variables.$light-color;
	display: flex;
	position: sticky;
	top: 0;
	align-items: center;
	justify-content: center;
	// gap: 30px;
	text-transform: uppercase;
	z-index: 1000;
	color: variables.$primary-dark-color;
	font-weight: 600;
	font-size: 12px;
	padding: 8px 16px;

	@include variables.for-large-screen {
		padding: 8px 75px;
	}

	&_container {
		display: flex;
		align-items: center;
		cursor: grab;

		& > div {
			display: flex;
			align-items: center;
			white-space: nowrap;
			padding: 10px 14px;
			gap: 4px;
		}

		a {
			text-decoration: none;
			color: variables.$primary-dark-color;
		}

		& > span {
			white-space: nowrap;
			padding: 10px 14px;
		}
	}

	.active {
		background-color: variables.$primary-light-opacity-color;
		padding: 8px 14px;
		border-radius: 10px;
		-webkit-border-radius: 10px;
		-moz-border-radius: 10px;
		-ms-border-radius: 10px;
		-o-border-radius: 10px;
	}
}
